.product-card {
  width: 100%;
  padding: 1.6rem;
  border: 1px solid #e1e1e1;
  text-align: center;
  justify-content: space-between;
}

.product-card,
.product-card__content {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.product-price__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.product-card__content p {
  margin: 0;
}

.product-price,
.compare-at-price {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 600;
}

.compare-at-price {
  font-weight: 400;
}

.product-vendor {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  color: #808080;
}

.product-title {
  font-size: 1.6rem;
  line-height: 1.4;
  text-decoration: none;
}

.product-image img{
  width: 100%;
  height: 100%;
}

button {
  width: 100%;
  padding: 1.6rem 2.4rem;
  background-color: #000;
  color: #fafafa;
  border: 1px solid transparent;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #fafafa;
  color: #000;
  border: 1px solid #000;
}